<div class="jumbotron">
  <% provide(:title, 'About') %>
  <h2>My Hike App</h2>
  <p>This is my second project for Generel Assembly<a href="https://generalassemb.ly/education/web-development-immersive">Web Development Imersive</a> class.  In this project I used Ruby on Rails to build my app.  I also included a secure user login in with password protection.</p>
  <h4>Technologies include:</h4>
  <ul>
    <li><a href="https://www.ruby-lang.org/">Ruby 2.2</a></li>
    <li><a href="http://rubyonrails.org/">Rails 4.2</a></li>
    <li><a href="http://www.postgresql.org/">PostgreSQL 9.4</a></li>
    <li><a href="http://getbootstrap.com/">Twitter Bootstrap 3.3</a></li>
    <li><a href="http://sass-lang.com/">SASS 3.4</a></li>
    <li><a href="https://github.com/decioferreira/bootstrap-generators">bootstrap-generators 3.3</a></li>
    <li><a href="https://www.heroku.com/">heroku</a></li>
  </ul>
</div>
