<div class="text-center jumbotron">
  <h1>Welcome to My Hikes</h1>
  <h3>At My Hikes you can create an account to store all your favorite trials.  Also included in your trails, you can save campsite locations and water source locations.  Start saving your favorite trails!</h3>
  <br>
</div>

