<div class="jumbotron">
  <div class="page-header">

    <%= link_to @user, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-info-sign"></span>
      Show
    <% end %>
    <h2>Edit user information</h2>
  </div>

  <%= render 'form' %>
</div>
